<!-- content-template -->
<script type="text/x-template" id="content-template">
    <div class="content" :id="id">
        <div class="content-header">
            <h1>{{config.title}}</h1>
            <span></span>
            <div class="content-buttons">
                <button v-if="config.position>=0" @click="prevPosition()" :disabled="prevDisabled" >Prev</button>
                <button v-if="config.position>=0" @click="goToMenu()"  >Menu</button>
                <button v-if="config.position>=0" @click="nextPosition()" :disabled="nextDisabled" >Next</button>
            </div>
        </div>
        <p v-if="config.position==-1">{{config.description}}</p>
        <div v-if="config.position==-1" class="content-menu">
            <button class="content-menu-item" @click="goToPosition(idx)" v-for="(item,idx) in config.contents" :disabled="item.disabled">{{idx+1}}</button>
        </div>    
        <div 
            :key="config.position"
            v-if="config.position>=0 && config.contents && config.contents.length" 
            :is="currentContent.type" 
            @finished="enableNextContent()"
            :config="currentContent" ></div>
        <div class="content-footer" v-if="!nextDisabled && config.position>=0">
            <button v-if="config.position>=0" @click="nextPosition()" :disabled="nextDisabled" >Next</button>
        </div>
        <pre v-if="debug">{{currentContent}}</pre>
    </div>
</script>
<style>
    .content{
        margin: 0;
        padding: 1em;
    }
    .content-header{
        display: flex;
        position:fixed;
        height: 4em;
        width: 100%;
        left: 0;
        top:0;
        z-index: 1;
        background-color: #fff;
        line-height: 2em;
        padding: 1em;
        box-shadow: 0 0 5px 5px rgba(0,0,0,0.2);
    }
    .content-buttons{
        display: flex;
    }
    .content-buttons button{
        font-size: 12px;
        border-radius: 0;
        border: 1px solid #ccc;
    }
    .content-buttons button:first-child{
        border-radius: 3px 0 0 3px;
    }
    .content-buttons button:last-child{
        border-radius: 0 3px 3px 0;
    }
    .content-header > span{
        flex: 1 0;
    }
    #app > .content{
        padding-top: 4.5em;
    }
    .content  h1{
        margin: 0 0 .5em 0;
        font-size: 1.6em;
    }
    @media (max-width:400px){
        .content  h1{
            margin: 0 0 .5em 0;
            font-size: 1.4em;
        }
    }
    .content  h2{
        margin: 0 0 .5em 0;
        font-size: 1.2em;
    }
    .content > .content{
        border: 1px solid #eee;
    }
    .content-menu{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .content-menu-item{
        max-width: 140px;
        max-height: 140px;
        width: 40vw;
        height: 40vw;
        border: 1px solid #ccc;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 1em;
    }
    .content-footer{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: center;
        padding: 1em;
        background-color: rgba(255,255,255,0.9);
    }
</style>
<script type="text/javascript">
    Vue.component('app-contents', {
        template: '#content-template',
        props: { 
            "config" : {
                "type" : Object,
                "default": {}
            },
            "id" : {
                "type" : String,
                "default": "c"+Math.round(Math.random()*100000)
            }
        },
        mounted:function(){
            var self=this;
            console.log("app-contents.config",this.config);
            window.addEventListener("scroll",function(){

            })
            window.addEventListener("hashchange",function(){
                self.goTo(document.location.hash.replace("#",""))
            })
            var hash=document.location.hash.replace("#","");
            self.base=hash.split("/")[0];
            self.goTo(hash);
        },
        data: function() {
            return { 
                menu: true,
                root: ""
            }
        },
        methods: {
            goTo:function(path){
                window.scrollTo(0,0);
                var view=path.replace("#","").split("/");
                console.log(view);
            },
            goToPosition:function(pos){
                this.config.position=pos;
                var item=this.config.contents[this.config.position];
                document.location="#"+this.base+"/"+item.id;
            },
            goToMenu:function(){
                this.config.position=-1;
                document.location="#"+this.base;
            },
            prevPosition:function(){
                this.config.position--;
                if (this.config.position<0){
                    this.config.position=0;
                }
                this.goToPosition(this.config.position);
            },
            nextPosition:function(){
                this.config.position++;
                if (this.config.position>=this.config.contents.length){
                    this.config.position=this.config.contents.length-1;
                }
                this.goToPosition(this.config.position);
            },
            enableNextContent:function(){
                console.log("enabled");
                var next=this.config.contents[this.config.position+1];
                if (next){
                    next.disabled=false;
                }
            }
        },
        computed: {
            debug: function(){
                return app.debug;
            },
            currentContent:function(){
                return this.config.contents[this.config.position];
            },
            prevDisabled: function(){
                if (this.config.position==0) return true;
                return false;
            },
            nextDisabled: function(){
                if (this.config.position+1>=this.config.contents.length) return true;
                var next=this.config.contents[this.config.position+1];
                if (next.disabled){
                    return true;
                }
                return false;
            },
        }
    });
</script>