<!-- text-template -->
<script type="text/x-template" id="text-template">
    <div class="text-content" >
        <h2>{{config.title}}</h2>
        <p v-html="config.description"></p>
    </div>
</script>
<style>
.text-content{
    font-size: 16px;
    line-height: 1.5em;
}
.text-content br{
    display: block;
    height: 1em;
}
</style>
<script type="text/javascript">
Vue.component('app-text', {
    template: '#text-template',
    data: function(){
        return {
            zoom : 1
        }
    },
    props: { 
        "config" : {
            "type" : Object,
            "default": {}
        },
        "id" : {
            "type" : String,
            "default": "text"+Math.round(Math.random()*10000)
        },
    },
    mounted:function(){
        console.log("app-text.config",this.content);
        var self = this;
        self.$emit('finished');
    },
    methods: {
        
    },
    computed:{
        
    }
});
</script>